@{
   Layout = "_Layout"; 

   string nama = "Erick";
   string alamat = "Jl Mangga 11";

   int bil1 = 11;
   int bil2 = 12;
   int hasil = bil1+bil2;
}

<h2>Detail Anggota</h2>

<p>@nama @alamat</p>
<p>@bil1 + @bil2 = @hasil</p>
<p>Name : @Model.Firstname @Model.Lastname</p>
<p>Address : @Model.Address</p>
<p>Telp : @Model.Telp</p>